<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo-36x36.png') }}" type="image/x-icon">
  </head>

  <body>
    <header class="top-bar">
      <h3 id="location">Manama, Al Manamah, Bahrain</h3>
      <p id="time" class="o-60 font-semibold pt-2">12:00</p>
    </header>

    <main class="center-bar">
      <div>
        <img src="{{ url_for('static', filename='assets/icons/weather/Sunny.svg') }}" alt="current weather" height="96" width="96" id="icon-weather" />
        <span class="current-temperature">
          <h1 id="cel">35°C</h1>
          <h1 id="faren" hidden>98.7°F</h1>
        </span>
        <h3 id="weather-text" class="o-80">Sunny</h3>
      </div>

      <p id="weather-tip">
        It's quite hot outside, so if you will be there for long, put on some sunscreen
      </p>
    </main>

    <footer class="bottom-bar"> 
      <img src="{{ url_for('static', filename='assets/icons/logo/temp_mid.svg') }}" alt="app logo" id="logo">
      <button id="signout-btn">
        <img src="{{ url_for('static', filename='assets/icons/interaction/signout.svg') }}" alt="signout btn icon" width="24" height="24" />
      </button>
    </footer>
  </body>

</html>